:root {
    --primary-color: #3498db;
    --secondary-color: #2c3e50;
    --background-light: #ecf0f1;
    --text-light: #34495e;
    --text-dark: #2c3e50;
    --text-white: #ffffff;
    --nav-background: #d2d2d2;
    --nav-border-color: #999;
}

body {
    font-family: Arial, sans-serif;
    margin: 10px;
    padding: 0;
    box-sizing: border-box;
    transition: background-color 0.3s ease, color 0.3s ease;
    position: relative;
}

header {
    background-color: var(--primary-color);
    color: var(--text-white);
    padding: 20px;
    text-align: center;
    margin-bottom: 20px;
}

button {
    background-color: var(--primary-color);
    color: var(--text-white);
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    border-radius: 50%;
}

nav {
    background-color: var(--background-light);
    padding: 20px;
    color: var(--text-light);
    border: 1px solid var(--nav-border-color);
    border-radius: 10px;
}

.dark-mode nav {
    background-color: var(--nav-background);
    color: var(--text-white);
    border: 1px solid var(--nav-border-color);
    border-radius: 10px;
}

section {
    padding: 20px;
}

section h2 {
    color: var(--text-dark);
}

.equipe {
    display: flex;
    gap: 20px;
}

.integrante {
    flex: 0 0 48%;
    margin-bottom: 20px;
}

.integrante img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

footer {
    background-color: var(--text-light);
    color: var(--text-white);
    text-align: center;
    padding: 10px;
}

.dark-mode {
    background-color: var(--secondary-color);
    color: var(--text-white);
}

.dark-mode button {
    background-color: var(--primary-color);
}

.dark-mode nav {
    background-color: var(--text-light);
    color: var(--text-white);
    border: 1px solid var(--nav-border-color);
    border-radius: 10px;
}

.dark-mode section h2 {
    color: var(--primary-color);
}

.dark-mode footer {
    background-color: var(--primary-color);
}
